# 楽天APIアプリケーションID
RAKUTEN_APP_ID=YOUR_APP_ID_HERE
RAKUTEN_ACCESS_KEY=YOUR_ACCESS_KEY_HERE

# Gemini API キーとエンドポイントURL
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
GEMINI_API_URL=YOUR_GEMINI_API_URL_HERE

## warning!!!!!! : このファイルは環境変数のテンプレートです。実際の値は .env ファイルに記載してください。